# Copia este archivo a keystore.properties y rellena.
# (keystore.properties está en .gitignore)

# Ruta: relativa a la carpeta android/ o ruta absoluta, ej. C:/Users/yo/keys/app.jks
storeFile=keystore/upload.jks
storePassword=cambia_esto
keyPassword=cambia_esto
keyAlias=upload
